
body {
    background-color:#000;
}

header {
   background-color:#000;
    text-align: center;
    color: #000;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}



section h2.section-heading {
    
margin-top: 0;
    
margin-bottom: 15px;
	
color:#fff;
    font-size: 40px;

}


section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    
font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    
font-size: 16px;
    
font-style: italic;
    font-weight: 400;

color:#fff;

}
section h4.section-heading{
 margin-top: 5px;
    margin-bottom: 15px;
	color:#fff;
    font-size: 20px;}